.box{
  &:after {
    border: 0;
  }
  border: 1Px solid #E2E2E2;
  // width: 70Px;
  height: 25Px;
  line-height: 25Px !important;
  font-size: 12Px;
  background-color: #ffffff;
  box-sizing: border-box;
}
