@mixin solid {
  content: '';
  display: inline-block;
  width: 100%;
  height: 19Px;
  border-bottom: 1Px solid #8BC34A;
  flex: 1;
  margin-left: 5Px;
}
.profitAndLossList-box{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  &-content{
    background: #fff;
    margin: 10Px 14Px;
    padding: 10Px 14Px;
    font-size: 14Px;
    &-head{
      line-height: 50Px;
      overflow: hidden;
      width: 100%;
      &-left{
        float: left;
      }
      &-right{
        float: right;
        &-icon{
          display: inline-block;
          font-size: 16Px;
          color: #8BC34A;
          font-weight: 600;
          margin-left: 5Px;
        }
      }
    }
    &-gd{
      border-top: 1Px solid #F0F0F0;
      &-head{
        width: 100%;
        display: flex;
      }
      &-head:after{
        @include solid;
      }
      View{
        line-height: 40Px;
      }
    }
    &-kb{
      &-head{
        width: 100%;
        display: flex;
      }
      &-head:after{
        @include solid;
      }
      View{
        line-height: 40Px;
      }
    }
  }
  &-button{
    width: 100%;
    position: absolute;
    bottom: 30Px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
