.box{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &-order{
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
  }
  &-content{
    color: rgb(0, 0, 0);
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
  }
  &-list{
    &-content{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &-img{
        width: 180px;
        height: 180px;
        border-radius: 8px;
        background-color: #8BC34A;
      }
      &-text{
        position: relative;
        flex: 1;
        height: 180px;
        margin-left: 30px;
        &-price{
          position: absolute;
          bottom: 0;
          font-size: 32px;
          color: #FF9800;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          &-left{
            width: 50%;
            display: inline-block;
          }
          &-right{
            height: 40px;
            width: 50%;
            display: flex;
            align-items: center;
            &-input{
              width: 35%;
              display: inline-block;
              text-align: center;
              z-index: 1;
            }
          }
        }
        &-head{
          color: #101010;
          font-size: 32px;
          height: 60px;
          line-height: 60px;
        }
        &-content{
          font-size: 24px;
          &-text{
            display: inline-block;
            width: 50%;
            color: #666666;
          }
        }
      }
    }
    &-subtotal{
      margin-top: 20px;
      border-top: 2px solid #E9E9E9;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8BC34A;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-add{
      display: inline-block;
      width: 180px;
      height: 60px;
      line-height: 60px;
      border-radius: 30px;
      text-align: center;
      background-color: #fff;
      color: #8BC34A;
      font-size: 28px;
      margin-right: 20px;
    }
  }
}

.box:after{
  content: '';
  position: absolute;
  top: 0px;
  width: 100%;
  height: 176px;
  background-color: #8BC34A;
  z-index: -1;
}

.slide{
  overflow: scroll;
  // height: 500px;
  margin: 0 28px;
}
