@mixin flex-align-center {
  display: flex;
  align-items: center;
  height: 50Px;
}
@mixin initializePage {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
}
@mixin marginFontPaddingBackground {
  margin-top: 10Px;
  font-size: 14Px;
  padding: 10Px 14Px;
  background-color: #fff;
}
.conten{
  border-radius: 6Px;
  margin: 5Px 10Px;
}
.box{
  @include flex-align-center;
  &-head{
    padding: 5Px 10Px;
    font-size: 14Px;
    border-bottom: 1Px solid #f6f6f6;
    overflow: hidden;
    &-left{
      float: left;
      @include flex-align-center;
    }
    &-right{
      float: right;
      @include flex-align-center;
      &-icon{
        color: #8BC34A;
        font-size: 12Px;
        margin-top: 3Px;
      }
    }
  }
  &-bottom{
    display: flex;
    align-items: center;
    height: 50Px;
    justify-content: space-between;
    font-size: 14Px;
    &-button-left{
      width: 49%;
      @include flex-align-center;
      justify-content: center;
    }
    &-button-right{
      width: 49%;
      @include flex-align-center;
      justify-content: center;
    }
  }
}

.box-particulars{
  @include initializePage;
  font-size: 14Px;
  &-message-border{
    padding: 10Px 14Px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  &-message-left{
    display: inline-block;
  }
  &-message-right{
    display: inline-block;
    font-size: 14Px;
    margin-left: 10Px;
    &-number{
      line-height: 40Px;
    }
    &-id{
      line-height: 40Px;
    }
  }
  &-register{
    font-size: 14Px;
    background-color: #fff;
    margin-top: 10Px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-left{
      display: inline-block;
    }
    &-right{
      line-height: 50Px;
      display: flex;
      align-items: center;
      &-left{
        margin-left: 10Px;
      }
    }
  }
  &-userMessage{
    @include marginFontPaddingBackground;
    View{
      line-height: 50Px;
    }
  }
  &-vip{
    @include marginFontPaddingBackground
  }
  &-analyze{
    @include marginFontPaddingBackground;
    &-name{
      line-height: 50Px;
      &-conten{
        position: relative;
        &-segmentation{
          width: 1Px;
          height: 20Px;
          background-color: #8BC34A;
          position: absolute;
          top: 15Px;
        }
        &-text{
          // display: flex;
          // align-items: center;
          line-height: 50Px;
          View{
            display: inline-block;
          }
          &-sl{
            margin-left: 34Px;
          }
          &-number{
            float: right;
          }
        }
      }
    }
  }
  &-pie-chart{
    width: 100%;
    height: 170Px;
  }
}
