.box{
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .head{
    background-color: rgba(65, 77, 85, 0.5);
    color: #EAEBEC;
    font-size: 32px;
    height: 90px;
    line-height: 90px;
    font-weight: 600;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    &-left{
      float: left;
      display: flex;
      align-items: center;
    }
    &-right{
      float: right;
    }
    .hint{
      float: right;
      position: relative;
      &-icon{
        font-size: 40px;
        color: #EAEBEC;
      }
      .dot{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background:#E51C23;
        top: 10px;
        right:-10px;
      }
    }
  }
  .marketing{
    display: flex;
    padding: 30px 28px;
    flex-direction: row;
    height: 180px;
    background-color: #444C52;
    justify-content: left;
    align-items: center;
    .marketingText{
      display: inline-block;
      margin-left: 30px;
      color: #FEFEFF;
      font-size: 32px;
      font-weight: 700;
    }
    &-icon{
      font-size: 70px;
      color: #FEFEFF;
    }
  }
  .statement{
    .text{
      padding-left: 40px;
      height: 220px;
      line-height: 220px;
      background-color: rgba(66, 74, 81, 0.5);
      color: #FEFEFF;
      font-size: 56px;
    }
    .icon-bar{
      color: #FEFEFF;
      display: flex;
      padding: 0 40px;
      height: 180px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      &-icon{
        font-size: 48px;
      }
      &-item{
        width: 20%;
        margin: 0 20px;
      }
    }
  }
}

.test-h{
  height: 276px;
}
